.PhoneInputCountryIconImg{
    height: auto;
    width: 40px;
    position: relative;
    
}
 .PhoneInputCountrySelect{
    position: absolute;
    padding: 15px;

  
 }
.PhoneInputInput{
   position: relative;
   width: 100%;
   border-radius: 40px;
   border-style: none;
   padding: 15px;
   color: white;
   font-weight: 500;
   margin-top: 30px;
  
} 